.card {
  position: relative;
}

.card-button {
  position: absolute;
  height: 100%;
  width: 100%;
}

.card-button:Focus {
  position: absolute;
  height: 100%;
  width: 100%;
  border: 1px solid black;
}

.card-button::after {
  content: '';
  visibility: visible;
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1;
}

.top-button {
  z-index: 5;
}

@media screen and (max-width: 720px) {
 
}